
@media(max-width: 800px){
    .about{
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    padding: 5px;
    }
}


.content{
    background-color: aliceblue;
    color: black;
    opacity: 80%;
    font-family:'Raleway', sans-serif; 
    font-size: x-large;
    margin-left: 1px;
    margin-right: 1px;
}


   


.text{
    padding: 3%;   
}

#trini{
    filter: grayscale(100%);
}

#trini:hover{
   filter: none;
   transition: 1s;

}

hr{
    width: 100%;
    height: 2px;
    border: 0 none;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color:rgb(0, 0, 0);
}

.aboutbuttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.b{
    color: black;
    background-color: white;
    width: 150px;
    height: 40px;
    border: none;
   
}

.b:hover{
    background-color: #EF8354;
    color: white;
}


@media only screen and (max-width: 1200px){
    #datame{
    position: absolute;
    width: 90%;
    height: 35%;
    margin-top: 75%;
    }
}
