
.items{
    display: flex;
    justify-content:right;
    color: black;
    padding: 40px;
    text-decoration: none;
}

#pro{
    margin-right: 50px;
    text-decoration: none;
}

#pro:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .items{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}


.navbarbutton{
    height: 60px;
    width: 100%;
    border: none;
    font-size: medium;
    padding: 20px;
    cursor: pointer;
}

button:hover{
    background-color: grey;
}

